<!DOCTYPE html>
<html>
  <head>
    <title>CSC_411</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  	
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" />
  	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.css" type="text/css" />
          
  	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
  	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/Update_Figures.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/science.v1.js')}}"></script>

  </head>
  <body>
    

    <header>
      <div class="container">
		    <h1 class="logo">EVART</h1>
        <strong><nav>
				  <ul class="menu">
				  	<li><a href="{{ url_for('home') }}">Home</a></li>
			   		<li><a href="{{ url_for('plot') }}">Plot</a></li>
					<li><a href="{{ url_for('upload') }}">Upload</a></li>
			 	  </ul>
			  </nav></strong>
		  </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>