<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSC_411</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" />
  	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.css" type="text/css" />
          
  	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
  	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.0.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/science.v1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Update_Figures.js')}}"></script>
    
  </head>

  <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Evert</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('plot') }}">Plot</a></li> 
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
          </ul>
        </div>
      </nav>
     
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
     
  </body>
</html>